<!--Top-->
<div class="ion-page" id="main-content">
  <ion-header class="logo-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div>
        <ion-img src="../../assets/No Junk Co logo.png" class="logo-img"></ion-img>
        <ion-title class="logo-title">No Junk CO.</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <!--Body-->
  <ion-content class="body">
    <!--First Card-->
    <ion-card class="card1">
      <img alt="Lose Fat Card" src="../../assets/Lose fat card img.jpg" class="card1-img">
      <ion-card-header>
        <ion-card-subtitle style="color: #393939;">Dieta para emagrecimento</ion-card-subtitle>
        <ion-card-title style="color: #37413a;"><b>Déficit Calórico</b></ion-card-title>
      </ion-card-header>
    
      <ion-card-content style="color: #4e4e4e;">
        Uma dieta fácil de se seguir, buscando a perca de gordura sem danos à saúde.
      </ion-card-content>
      <ion-button color="success" class="green-btn" routerLink="/emag-page">Iniciar</ion-button>
    </ion-card>

    <!--Second Card-->
    <ion-card class="card2">
      <img alt="Lose Fat Card" src="../../assets/Gain mass car img.jpg" class="card2-img">
      <ion-card-header>
        <ion-card-subtitle style="color: #393939;">Dieta para ganho de Massa</ion-card-subtitle>
        <ion-card-title style="color: #37413a;"><b>Superávit Calórico</b></ion-card-title>
      </ion-card-header>
    
      <ion-card-content style="color: #4e4e4e;">
        Uma dieta restrita para aumentar a massa muscular no corpo.
      </ion-card-content>
      <ion-button color="success" class="green-btn" routerLink="/mass-page">Iniciar</ion-button>
    </ion-card>
  </ion-content>
</div>