<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="location-container">
      <span class="location-span">MEUS PEDIDOS</span>
    </div>
  </ion-toolbar>
</ion-header>

<body>
  <main>

    <div class="ped-dnv-container">
      <span class="title-ped">Peça de novo</span>
      <br>
      <span class="subtitle-ped">Big Mac + Coca Cola 500ml</span>
      <img class="ped-logo-loja" src="https://i.pinimg.com/originals/7e/5d/78/7e5d781bc83688dcd77537eafcb2379a.png">
      <button class="add-cart-btn"><span>Adicionar à sacola</span></button>
    </div>
    
  </main>
</body>