<ion-header class="logo-container">
  <ion-toolbar>
    <div>
      <ion-title class="header-title">Dieta de emagrecimento</ion-title>
      <ion-button color="warning" routerLink="/home" class="voltar">Voltar</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<!--Body-->
<ion-content class="body">

  <!--Lista-->
  <ion-list [inset]="true" class="diet-list">

    <!-- Café da Manhã -->
    <div class="cafe-manha">
      <ion-item>
        <ion-label><b>Café da Manhã:</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 xícara de café preto ou chá verde sem açúcar</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>1 omelete de claras de ovos com vegetais (tomate, espinafre, cogumelos)</ion-label>
      </ion-item>
    </div>
    <!-- Almoço -->
    <div class="almoco">
      <ion-item>
        <ion-label><b>Almoço:</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Peito de frango grelhado</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Quinoa cozida</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Brócolis no vapor</ion-label>
      </ion-item>
    </div>
    <!-- Jantar -->
    <div class="jantar">
      <ion-item>
        <ion-label><b>Jantar:</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sopa de legumes com frango desfiado</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Salada de folhas verdes</ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>