.logo-container{
    position: fixed;
    height: 4%;
}
.voltar{
    position: relative;
    margin-left: 75%;
}
.header-title{
    margin-left: -20%;
}
.body{
    padding-bottom: -100px;
}
b{
    font-size: larger;
}
.cafe-manha{
    position: relative;
    margin-top: 15% !important;
    height: fit-content;
}
.almoco{
    position: relative;
    margin-top:5% !important;
    height: fit-content;
}
.jantar{
    position: relative;
    margin-top: 5% !important;
    height: fit-content;
}

