<ion-content [fullscreen]="true">
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="title-container">
      <ion-title class="title">Frase do dia</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Body -->
  <ion-content class="body">
    <ion-card class="card">
      <img alt="mug-img" src="../../assets/Coffee mug.jpeg" class="mug-img"/>
      <ion-card-header>
        <ion-card-title class="card-title">Sua dose de motivação diária</ion-card-title>
      </ion-card-header>
      <ion-card class="card-frase">
        <ion-card-content class="frase">
          {{ getRandomFrase() }}
        </ion-card-content>
      </ion-card>
    </ion-card>
  </ion-content>

</ion-content>