<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="location-container">
      <span class="location-span">Quality Hotel São Caetano</span>
      <ion-icon class="dropdown" name="chevron-down-outline"></ion-icon>
      <ion-icon class="bell" name="notifications-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<body>
  <main>
    <div class="grid-card-grande">
      <a href="https://www.ifood.com.br/restaurantes">
        <div class="card-g-1">
          <span class="card-g-span">Restaurantes</span>
          <img class="card-g-1-img" src="https://i.pinimg.com/originals/ac/6b/fd/ac6bfd9ed461fab5aad246a4e4d46cd8.png">
        </div>
      </a>
      <a href="https://www.ifood.com.br/mercados">
        <div class="card-g-2">
          <span class="card-g-span">Mercado</span>
          <img class="card-g-2-img"
            src="https://ouch-cdn2.icons8.com/m5u5euFDef3gz1cT8Btr4jPwBVAPrW712jhsTOs93Ss/rs:fit:456:456/extend:true/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNjI0/LzNlOTUxMTZmLTgy/ZGItNDQ5My1hNjJm/LTZjMzZiNGE1ZGVl/Yy5wbmc.png">
        </div>
      </a>
    </div>

    <div class="grid-card-pequeno">
      <a href="https://www.ifood.com.br/farmacia">
        <div class="card-p-1">
          <span class="card-p-span">Farmácias</span>
          <img class="card-p-1-img" src="https://i.pinimg.com/originals/d0/90/a6/d090a60d35f64f3a5ae39eaad5cdc54c.png">
        </div>
      </a>
      <a href="https://www.ifood.com.br/bebidas">
        <div class="card-p-2">
          <span class="card-p-span">Bebidas</span>
          <img class="card-p-2-img" src="https://cdn-icons-png.flaticon.com/256/7295/7295258.png">
        </div>
      </a>
      <a href="https://www.ifood.com.br/petshop">
        <div class="card-p-3">
          <span class="card-p-span">Pet Shop</span>
          <img class="card-p-3-img"
            src="https://png.pngtree.com/png-vector/20220607/ourmid/pngtree-red-bowl-with-dog-food-png-image_4906660.png">
        </div>
      </a>
      <a href="https://www.ifood.com.br/">
        <div class="card-p-4">
          <span class="card-p-span">Ver mais</span>
          <ion-icon class="card-p-4-img" name="add-outline"></ion-icon>
        </div>
      </a>
    </div>
  </main>

  <img class="ifood-promo-img" src="https://pbs.twimg.com/media/E7ywKYwX0AMsZCM.jpg">

  <div class="clube-ifood-container">
    <span class="title">Clube Ifood</span>
    <br>
    <span class="subtitle">Experiências únicas pra você</span>
    <a href="https://www.ifood.com.br/clube"><span class="ver-mais">Ver Mais</span></a>
  </div>

</body>